---
---

<style lang="less">
  div {
    position: relative;
    height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
  }

  h1 {
    color: #a9def9;
  }
</style>

<div>
  <h1>Ryan Smith</h1>
  <h2>Student Developer</h2>
</div>
