---
import Top from "../components/sections/Top.astro";
import Header from "../components/Header.astro";
import ParticleRenderer from "../components/ParticleRenderer.svelte";
import Projects from "../components/sections/Projects.astro";
---

<style lang="less">
  body {
    color: rgb(214, 205, 191);
  }

  h1 {
    color: #a9def9;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pyan's Portfolio</title>
  </head>
  <body>
    <ParticleRenderer client:load />

    <Header />
    <Top />
    <Projects />
  </body>
</html>
