---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import TextLink from "../components/TextLink.astro"
import Socials from "../components/Socials.astro"

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let headerData = {
  title: `Pyan's Portfolio`,
  description: `Pyan's portfolio site`,
  permalink: 'https://www.pyan.xyz/',
}
---

<style>
  h2 {
    @apply text-lg font-light leading-none text-[#A9DEF9];
  }

  h3 {
    @apply text-base font-light leading-none text-white;
  }
</style>

<html lang="en" class="scroll-smooth">

  <head>
    <BaseHead {...headerData} />
  </head>

  <body class="h-full mx-auto bg-black 2xl:max-w-7xl font-display">

    <section class="relative flex items-center">
      <div class="relative max-w-3xl p-4 py-24 sm:p-20 lg:p-28">
        <div class="space-y-5">
          <div class="space-y-3">
            <h2>
              Ryan Smith
            </h2>
            <Socials />
            <hr class="border border-dotted border-b-transparent border-x-transparent border-white/10" />
          </div>

          <div class="space-y-6 text-base">
            <p class="text-white font-thin tracking-[0.072rem] leading-loose">
              I am Ryan Smith aka Pyan. I am a programmer and student based in New York. I am currently learning <TextLink text="Rust" link="https://www.rust-lang.org/" /> and obsessively rewriting everything in it.
            </p>
            <h3>Projects/Experiences</h3>
            <p class="text-white font-thin tracking-[0.072rem] leading-loose">
              Obfuscator (WIP) - A program that <TextLink link="https://en.wikipedia.org/wiki/Obfuscation_(software)" text="obfuscates" /> <TextLink link="https://www.lua.org/" text="Lua" /> code. It allows you to release programs coded in Lua without distributing the source code.
            </p>
            
            <p class="text-white font-thin tracking-[0.072rem] leading-loose">
              Programming Team Lead for the <TextLink link="https://github.com/CSHCyberhawks" text="CSH Cyberhawks" /> - I build a completely custom <TextLink link="https://team1640.com/wiki/index.php/Swerve_Central#What_is_Swerve_Drive" text="swerve drive" /> train with <TextLink link="https://www.youtube.com/watch?v=50ZRrYFWPIc" text="field orientation" />, <TextLink link="https://en.wikipedia.org/wiki/PID_controller" text="PID controllers" />, full <TextLink link="https://en.wikipedia.org/wiki/Odometry" text="odometry" />, and a dynamic autonomous mode.
            </p>
            <!-- <hr class="border border-dotted border-b-transparent border-x-transparent border-white/10" /> -->
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
