---
import Top from "../components/sections/Top.astro";
import Header from "../components/Header.astro";
import ParticleRenderer from "../components/ParticleRenderer.svelte";
import Projects from "../components/sections/Projects.astro";
import SEO from "../components/SEO.astro";

import "@fontsource/open-sans";
import "../styles/global.less";
---

<style lang="less">
  h1 {
    color: #a9def9;
  }
</style>

<html lang="en">
  <head>
    <SEO
      title="Ryan Smith's Portfolio"
      description="Ryan Smith is a student developer who occasionally makes cool things"
      permalink="https://www.pyan.xyz/"
    />
  </head>
  <body>
    <ParticleRenderer client:load />

    <Header />
    <Top />
    <Projects />
  </body>
</html>
