---
---

<style lang="less">
  body {
    background-color: black;
    color: rgb(214, 205, 191);
  }

  h1 {
    color: #a9def9;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pyan's Portfolio</title>
  </head>
  <body>
    <h1>Ryan Smith</h1>
    <h2>aka Pyan</h2>
  </body>
</html>
