---
const { name, image, link, dates } = Astro.props;

const realImage = image || "/images/placeholder.jpg";
---

<style lang="less">
  div {
    background-color: black;
    border-radius: 10%;
    width: 20vw;
    height: 35vh;
  }

  img {
    width: 100%;
  }

  .date {
    color: gray;
    font-size: smaller;
  }
</style>

<div>
  <a href={link}>
    <img src={realImage} />
    <h4>{name}</h4>
    <p class="date">{dates}</p>
    <p><slot /></p>
  </a>
</div>
