<style lang="less">
  h2 {
    color: #e6f1ff;
    margin-bottom: 1rem;
  }
</style>

<section id="about">
  <h2 class="animate-on-scroll" data-animation="enter-left">About Me</h2>
  <p class="animate-on-scroll" data-animation="enter-bottom stagger-delay-1">
    My name is Ryan Smith, and I am an incoming freshman at Brown University
    (class of 2029) studying Electrical Engineering and Computer Science. I am
    currently working in the Brown University Intelligent Robot Lab and the
    Northwell Health 3D Design and Innovation Lab. I leverage my love of
    technology to address real-world problems, which has led me to develop a
    tick mitigation device as part of a Lemelson-MIT InvenTeam and to improve
    water quality access on Long Island in the 2023 Congressional App Challenge.
  </p>
</section>
