<style lang="less">
  h2 {
    color: #e6f1ff;
    margin-bottom: 1rem;
  }
</style>

<section id="about">
  <h2>About Me</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla ut
    nulla sed pulvinar. Duis quis mi venenatis, sagittis diam.
  </p>
</section>
