<style lang="less">
  h2 {
    color: #e6f1ff;
    margin-bottom: 1rem;
  }
</style>

<section id="about">
  <h2 class="animate-on-scroll" data-animation="enter-left">About Me</h2>
  <p class="animate-on-scroll" data-animation="enter-bottom stagger-delay-1">
    My name is Ryan Smith, and I am a freshman at Brown University (class of
    2029) studying Computer Science. I am currently doing AI research in the
    Brown University Intelligent Robot Lab.
  </p>
</section>
