<style lang="less">
  header {
    padding: 4rem 2rem;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
  }

  h1 {
    font-size: 2.5rem;
    color: #e6f1ff;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.8rem;
    color: #a8b2d1;
    margin-bottom: 1.5rem;
  }

  nav {
    margin: 1rem 0;
    a {
      margin-right: 1.5rem;
      font-size: 1.1rem;
      color: #88ddff;
      text-decoration: none;
      position: relative;
      display: inline-block;
      padding: 0.25rem 0;
      transition: all 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 5px;
        left: 0;
        background-color: #88ddff;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease;
      }

      &:hover {
        text-decoration: none;

        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
</style>

<header>
  <h1 class="animate-on-scroll" data-animation="enter-top">Ryan Smith</h1>
  <nav>
    <a
      href="/#about"
      class="animate-on-scroll"
      data-animation="enter-left stagger-delay-1">About</a
    >
    <a
      href="/#experience"
      class="animate-on-scroll"
      data-animation="enter-left stagger-delay-2">Experience</a
    >
    <a
      href="/#projects"
      class="animate-on-scroll"
      data-animation="enter-left stagger-delay-3">Projects</a
    >
    <a
      href="/#contact"
      class="animate-on-scroll"
      data-animation="enter-left stagger-delay-4">Contact</a
    >
  </nav>
</header>
